@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html{
    font-family: "Poppins", sans-serif;
    background-color: #fcfdfd;
  }
}

::selection {
  background:#8bd450;
}

html {
  scroll-behavior: auto;
}

.mask {
  mask-image: url('../../../public/index/circle.svg');
  mask-repeat: no-repeat;
  mask-size: 40px;
  background: #67478A;
  position: absolute;
  color: black;
}